.addBundles .navRow{
    display: flex;
    text-align: center;
    gap: 10px; 
}
/* Creates a button structure with colours and spacings*/
.addBundles .button {
    background-color: var(--button-bg);
    font-family: Arial;
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 0px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    color: var(--button-text);
}
.addBundles .mainBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    margin: 0 auto;
    width: 55vh;
    gap: 20px;
    padding-bottom: 30px;
}
.addBundles .bundleEntry{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 40vh;
    width: 100%;
    border-radius: 2rem;
    background-color: var(--bg-container);
    overflow: hidden;
    border: 8px solid var(--border-colour);
    box-sizing: border-box;
    padding-bottom: 30px;
    padding: 2%;
    color: var(--text-colour);
}
.addBundles .textBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;
    gap: 20px;
    margin-top: 20px;
    width: fit-content;
}
.addBundles .companyIcon{
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}
/* Creates a button structure with colours and spacings*/
.addBundles .boxButton {
    background-color: var(--button-bg);
    font-family: Arial;
    padding: 10px 30px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    margin: 0px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    color: var(--button-text);
    margin-top: 2%;
    margin-bottom: 2%;
}
.addBundles .row{
    display: flex;
    text-align: center;
    gap: 10px; 
}