.change {
    color: var(--text-colour);
}

.change .navRow{
    grid-column: 1;
    gap: 10px;
    width: 425px;
    background-color: var(--bg-container);
    border: 4px solid var(--border-colour);
    padding: 8px;
    border-radius: 1rem;
    margin-bottom: 20px;
    overflow-x: auto;
}

.change .button {
    background-color: var(--button-bg);
    font-family: Arial;
    font-weight: bold;
    color: var(--button-text);
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.change .header {
    color: var(--text-colour);
    font-size: 30px;
    align-self: center;
    margin: 0 auto 10px auto;
    width: 240px;
    background-color: var(--bg-container);
    border: 4px solid var(--border-colour);
    border-radius: 1rem;
    margin-bottom: 20px;
    text-align: center;
}

.change .container {
    color: var(--text-colour);
    margin: auto;
    width: 450px;
    height: auto;
    background-color: var(--bg-container);
    border: 4px solid var(--border-colour);
    border-radius: 1rem;
    margin-bottom: 20px;
    text-align: center;
}

.change .row {
    margin: 25px;
}

.change .boxButton {
    background-color: var(--button-bg);
    font-family: Arial;
    color: var(--button-text);
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 15px;
}

.change .setRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}