/*Navigation row to format a row with a background colour and border*/
.deployment .navRow{
    grid-column: 1;
    gap: 10px;
    width: 425px;
    background-color: var(--bg-container);
    border: 4px solid var(--border-colour);
    padding: 8px;
    border-radius: 1rem;
    margin-bottom: 20px;
    overflow-x: auto;
}
/*Defines how a button is formatted*/
.deployment .button {
    background-color: var(--button-bg);
    font-family: Arial;
    color: var(--button-text);
    font-weight: bold;
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}
/*Defines a row structure*/
.deployment .row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 7px;
}
/*Creates a header box for the page title*/
.deployment .header {
    color: var(--text-colour);
    font-size: 30px;
    align-self: center;
    margin: 0 auto 10px auto;
    width: 240px;
    background-color: var(--bg-container);
    border: 4px solid var(--border-colour);
    border-radius: 1rem;
    margin-bottom: 20px;
    text-align: center;
}
/*Container that creates a box for the text*/
.deployment .container {
    color: var(--text-colour);
    margin: auto;
    width: fit-content;
    height: auto;
    background-color: var(--bg-container);
    border: 4px solid var(--border-colour);
    border-radius: 1rem;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
}
/*Creates a column structure for tests*/
.deployment .tests {
    display: flex;
    flex-direction: column;
    gap: 20px;
}