/*Sets the pages colour scheme to be compatible with dark mode*/
.view {
    color: var(--text-colour);
}
/*Navigation row to format a row with a background colour and border*/
.view .navRow{
    grid-column: 1;
    gap: 10px;
    width: 445px;
    background-color: var(--bg-container);
    border: 4px solid var(--border-colour);
    padding: 8px;
    border-radius: 1rem;
    margin-bottom: 20px;
    overflow-x: auto;
}
/*Defines how a button is formatted*/
.view .button {
    background-color: var(--button-bg);
    font-family: Arial;
    font-weight: bold;
    color: var(--button-text);
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}
/*Creates a header box for the page title*/
.view .header {
    color: var(--text-colour);
    font-size: 30px;
    align-self: center;
    margin: 0 auto 10px auto;
    width: 240px;
    background-color: var(--bg-container);
    border: 4px solid var(--border-colour);
    border-radius: 1rem;
    margin-bottom: 20px;
    text-align: center;
}
/*Creates a box that fits content with page colours*/
.view .box {
    width: fit-content;
    background-color: var(--bg-container);
    border: 4px solid var(--border-colour);
    border: 4px solid var(--border-colour);
    border-radius: 1rem;
}
/*Container that creates a flex structure*/
.view .container {
    display: flex;
    justify-content: center;
}
/*Creates a box that fits content with page colours*/
.view .outputBox {
    width: fit-content;
    background-color: var(--bg-container);
    border: 4px solid var(--border-colour);
    border: 4px solid var(--border-colour);
    border-radius: 1rem;
    padding-inline: 10px;
}