section{
    display: flex;
    justify-content: flex-start;
    gap: 200px;
    background-color: rgb(81, 155, 81);
}
.sectionPage{
    text-decoration: none;
    color: inherit;
    display: block;
}
.row{
    display: flex;
    text-align:  center;
    gap: 10px; 
}
.textBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
}

.button {
    background-color: green;
    font-family: Arial;
    color: white;
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 0px;
    cursor: pointer;
    border-radius: 5px;
}

.headline{
    color: black;
    font-family: Arial;
    font-size: 24px;
}

.formatter{
    text-align: center;
    width: 325px;
    margin: 20px;
    flex-shrink: 0;
}

.desc{
    font-family: Arial;
    font-size: 20px;
    margin-top: 10px;
    flex: 1;
}

.thumbnail {
  display: block;
  border: 4px solid #ddd;  
  padding: 10px;
  width: 300px; 
  margin-bottom: 10px;
}

.leftImg{
    margin-top: 20px;
    height: 150px;
}
.codeText{
    font-size: 70px;
    margin-bottom: 50px;
    margin-top: 45px;
}

.textCentre{
    text-align: center;
    font-size: 25px;
}

.icon{
    width: 70px;
    height: 70px;
}

.rowIcons{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin: 10px;
  gap: 40px;
}

.setting{
    width: 30px;
    height: 30px;
}