body{
    background-image: url('../assets/Background.png');
}
.loginBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.loginItems{
    transform: scale(1.5);
    height: 175px;
    width: 350px;;
    border-radius: 2rem;
    background-color: white;
    text-align: center;
    padding: 30px;
    border: 4px solid rgb(109, 112, 109)
}