body{
    background-image: url('../assets/Background.png');
}
#Register{
    color: black;
}
.loginBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.loginItems{
    transform: scale(1.5);
    height: 175px;
    width: 350px;;
    border-radius: 2rem;
    background-color: white;
    text-align: center;
    padding: 30px;
    border: 4px solid green;
}

.popupRegister{
    width: 400px;
    border-radius: 6px;
    position: absolute;
    top: 150%;
    left: 50%;
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    background-color: white !important;
}

.open-popupRegister{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popupRegister button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px;
}
