:root {
  --bg-color: white; /*default theme*/
  --text-colour: black;
  --button-bg: white;      /* dark button in light mode */
  --button-text: black;
  --border-colour: green;
  --bg-container: white;
}

.dark {
  --bg-color: #121212; /*when html tag is changed this becomes into effetc*/
  --text-colour: #ffffff;  /*overrides variables when run*/
  --button-bg: #111827;      /* light button in dark mode */
  --button-text: #ffffff;
  --border-colour: #5d5e5f;
  --bg-container: #111827;
}

.dark-mode-btn {
  background-color: var(--button-bg);
  color: var(--button-text);
  padding: 10px 16px;
  border-radius: 10px;

  position: fixed;
  top: 20px;
  right: 20px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

